/* gradient style */
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*//?###################################################################################################################################*/
/*//! _________________________________________________________                    ____________________________________________________ */
/*//!  ________________________________________________________   Extra  Styles    ____________________________________________________ */
/*//! _________________________________________________________                    ____________________________________________________ */
/*//?###################################################################################################################################*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.get_free_audit_gradient{
    z-index: -10;
    overflow: hidden;
 }

.get_free_audit_gradient::before{
    content: '';
    height: 440vh;
    width: 100vw;
    /* background: pink; */
    position: absolute;
    transform: translateY(-380vh);
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #0049FA 0%, rgba(8, 8, 22, 0) 100%);
    opacity: 0.55;
}

.get_free_audit_gradient_mobile::before{
    content: '';
    height: 100vh;
    width: 100vw;
    /* background: pink; */
    position: absolute;
    transform: translateY(-80vh);
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #0049FA 0%, rgba(8, 8, 22, 0) 100%);
    opacity: 0.55;
}

