.super-class {
  overflow-x: hidden;
  max-width: 100vw;
}

/*//?###################################################################################################################################*/
/*//! ....................................................     Rota Family font      ................................................ */
/*//?###################################################################################################################################*/
/* 
 * normal = 400 
 * medium = 500 
 * semibold = 600 
 * bold = 700 
 * extrabold = 800
 */

@font-face {
  font-family: "rota";
  src: url("./fonts/Rota-Light.otf");
  font-weight: 400;
  font-style: normal;
  letter-spacing: .025em;
}

@font-face {
  font-family: "rota";
  src: url("./fonts/Rota-Regular.otf");
  font-weight: 500;
  font-style: normal;
  letter-spacing: .025em;
}


@font-face {
  font-family: "rota";
  src: url("./fonts/Rota-Medium.otf");
  font-weight: 600;
  font-style: normal;
  letter-spacing: .025em;
}


@font-face {
  font-family: "rota";
  src: url("./fonts/Rota-SemiBold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "rota";
  src: url("./fonts/Rota-Bold.otf");
  font-weight: 800;
  font-style: normal;
}


body {
  font-family: "rota";
}

p {
  letter-spacing: 1px;
}

/* Framer Motion Transition Class..The dark blue screen which appears in when you change a page is the result of this class,so try not to mess with it...*/
.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(1, 12, 208);
  z-index: 2005;
}

